@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    font-family: 'Saira', sans-serif;
    font-size: 16px;
    background-color: #F3F0EB;
}
ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}
h1, h2, h3, h4, h5, h6, p{
    margin-bottom: 0;
}

a, a:hover{
    text-decoration: none;
}


/* ==========Home page css========== */
/* ==========header-section css========== */
.top-header{
    border-bottom: 1px solid #D8DAD9;
}
.top-header .nav-item{
    padding: 5px 10px;
}
.top-header .nav-item .nav-link i{}
.top-header .nav-item select{
    border: 0;
    background: transparent;
    font-size: 14px;
}
.top-header .nav-item select:focus{
    box-shadow: none;
}
.top-header .nav-item select option{}
.top-header .nav-link {
    padding: 0;
    font-size: 14px;
    color: #333;
    font-weight: 300;
}

header .isStuck{
    background-color: #F3F0EB !important;
    left:0px;
    width:100%;
}
header .navbar-wrapper {
  position: relative;
  z-index: 15;

}
.navbar{
    padding: 20px 0 !important;
    border-bottom: 1px solid #333;
}
.navbar .cart-inner{
    width: 40%;
}
.navbar .collapse{
    width: 40%;
}
.navbar-light .navbar-nav .nav-item{
    padding: 5px 10px;
}
.navbar-light .navbar-nav .nav-item .nav-link {
    padding: 0;
    color: #333;
    font-size: 18px;
    font-weight: 400;
    position: relative;
}
.navbar-light .navbar-nav .nav-item .nav-link::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #333;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: .4s linear;
    opacity: 0;
}
.navbar-light .navbar-nav .nav-item:hover .nav-link::after{
    
    width: 100%;
    opacity: 1;
}
.navbar .cart-inner{
    width: 40%;
}
.cart-inner li{
    padding: 0 10px;
}
.cart-inner li a{
    color: #333;
}
.cart-inner li i{
    font-size: 21px;
}
/* ==========text section css========== */
.text{
    background: #333333;
    padding: 10px 0px;
}
.text-content{}
.text-content h6{
    color: #D4BE84;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
}
.text-content a{
    color: #D4BE84;
}
/* ==========banner section css========== */
.banner{
    padding: 200px 0px;
    background: #333 url("../img/bn.webp") top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
}
.banner-content{}
.banner-content h2{
    font-size: 38px;
    color: #fff;
    font-weight: 500;
}
/* ==========product section css========== */
.product{
    padding: 90px 0;
}
.product p{
    font-size: 18px;
    font-weight: 400px;
    color: #333;
}
.product-select{}
.product-select select{
    font-size: 18px;
    font-weight: 500;
    padding: 10px 30px;
    background: transparent;
}
.product-inner{
    position: relative;
}
.sale{
    padding: 3px 8px;
    background: #000;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    margin: 0;
}
.sale p{
    font-weight: 500;
    color: #fff;
    font-size: 16px;
    margin: 0;
}
.banner-img{}
.banner-img .img-m{}
.product-inner:hover .banner-img .img-m{
    opacity: 0;
}
.banner-img .img-h{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.product-inner:hover .banner-img .img-h{
    opacity: 1;
}
.view{
    width: 100%;
    border-radius: 3px;
    background: #000;
    padding: 8px 0px;
    position: absolute;
    bottom: 80px;
    left: 0;
    opacity: 0;
    z-index: 1;
    transition: .5s;
}
.view:hover{
    /* padding: 10px 15px 10px 15px; */
    background: red;
    transition: 1s.;
    border-radius: 25px 10px 25px 10px;
}
.product-inner:hover .view{
    bottom: 104px;
    opacity: 1;
}
.view p{
    font-size: 19px;
    font-weight: 500;
    margin: 0;
}
.view p a{
    color: #fff;
}

.product-inner h6{
    font-size: 20px;
    font-weight: 500;
    color: #333;
}
.product-content p{
    font-weight: 500;
    color: #333;
    font-size: 16px;
    margin: 10px 0px;
}
.product-content i{
    color: #FFD200;
}
.product-content span{
    font-size: 18px;
    margin-left: 10px;
}
/* ==========footer section css========== */
footer{
    border-top: 1px solid #333;
}
.wight-footer{
    padding: 50px 0px 30px;
}
.wight-footer-content{
    margin: 0px 0px 20px;
}
.wight-footer-content ul{}
.wight-footer-content ul h4{
    font-size: 16px;
    color: #333;
    margin-bottom: 27px;
}
.wight-footer-content ul li{
    font-size: 14px;
    padding: 5px 0px;
}
.wight-footer-content ul li a{
    color: #333;
}
.wight-footer-content ul li form{
    position: relative;
}
.wight-footer-content ul li form input{
    width: 100%;
    font-size: 16px;
    color: #495057;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #333;
    padding: 5px 10px;
}
.wight-footer-content ul li form input:focus{
    outline: none;
}
.wight-footer-content ul li form .btn-icon{
    position: absolute;
    top: 7px;
    right: 2px;
}
.wight-footer-content ul li a i{
    font-size: 22px;
    
}
.wight-footer-content ul li a i:hover{
  
   border-radius: 50px;
    background: red;
    color: #fff;
    font-size: 22px;
}
.footer-content .img-fluid{
    max-width: 87px;
}
.footer-content p{
    font-size: 13px;
    font-weight: 500;
    margin: 20px 0;
}